
.cariparma-header{
	/* 
	background: #6891A2 none repeat scroll 0% 0%; 
	border-color: #6891A2;
	*/
	border-color: #95C120;
	background-image: linear-gradient(to right, #95C120, #2F4616)
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}

.tile-stats.tile-red {
    background: #F56954 none repeat scroll 0% 0%;
}
.tile-stats.tile-aqua {
    background: #00C0EF none repeat scroll 0% 0%;
}
.tile-stats {
    position: relative;
    display: block;
    background: #303641 none repeat scroll 0% 0% padding-box;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
    transition: all 300ms ease-in-out 0s;
}


.boarder-bottom-cariparma {
  /* border-bottom: 2px solid #6891A2; */
}

.cariparma-bg {
	background-image: linear-gradient(to right, #95C120, #2F4616)
  /* background-color: #6891A2 !important; */
}

.cariparma-btn {
	color:#ffffff;
	background-image: linear-gradient(to right, #95C120, #2F4616)
}

.text-align_center{
	text-align: center;
}

.cariparma-footer{
	background-image: linear-gradient(to right, #f8f8f8, #e7e7e7);
}

#password {
    padding: 10px;
    border: 1px solid #000;
    margin: 0 0 10px;
}

div.pass-container {
    height: 30px;
}

div.pass-bar {
    height: 11px;
    margin-top: 2px;
}
div.pass-hint {
    font-family: arial;
    font-size: 11px;
}

.progress-bar {
	  color: #545454;
}